<h1>About</h1>

<p>This app allows you to create your own list of friends contact ! </p>
<p>Click <%= link_to "New Friend", new_friend_path, class:"btn btn-sm btn-success"%> to add your new contacts.</p>